Repository alinkenauger/golf-swing-recording--n6oxdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @videocoach/core-team, @videocoach/android-team, @videocoach/ios-team, @videocoach/web-team, @videocoach/backend-team, @videocoach/security-team, @videocoach/video-team, @videocoach/devops-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repository unless a later match takes precedence
* @videocoach/core-team

# Mobile Applications
src/android/       @videocoach/android-team
src/ios/          @videocoach/ios-team

# Web Application
src/web/          @videocoach/web-team

# Backend Services - Core
src/backend/api-gateway/        @videocoach/backend-team
src/backend/shared/            @videocoach/backend-team

# Backend Services - Security Critical
# These services require security team review due to sensitive data handling
src/backend/user-service/      @videocoach/backend-team @videocoach/security-team
src/backend/payment-service/   @videocoach/backend-team @videocoach/security-team
src/backend/chat-service/      @videocoach/backend-team @videocoach/security-team

# Video Processing Service
# Requires both performance optimization and security review
src/backend/video-service/     @videocoach/video-team @videocoach/security-team

# Infrastructure and DevOps
infrastructure/                @videocoach/devops-team
infrastructure/kubernetes/     @videocoach/devops-team @videocoach/security-team
infrastructure/terraform/      @videocoach/devops-team @videocoach/security-team

# CI/CD Pipeline Configurations
.github/workflows/            @videocoach/devops-team @videocoach/security-team

# Documentation
docs/                        @videocoach/core-team
docs/security/              @videocoach/security-team

# Test Configurations
tests/                      @videocoach/core-team
**/test/                   @videocoach/core-team
**/tests/                  @videocoach/core-team
**/__tests__/              @videocoach/core-team

# Package Dependencies
package.json               @videocoach/core-team @videocoach/security-team
yarn.lock                 @videocoach/core-team @videocoach/security-team
**/package.json           @videocoach/core-team @videocoach/security-team
**/requirements.txt       @videocoach/core-team @videocoach/security-team
**/pyproject.toml        @videocoach/core-team @videocoach/security-team

# Security and Configuration Files
.env*                     @videocoach/security-team
**/config/*              @videocoach/security-team
**/*.config.js           @videocoach/security-team
**/*.config.ts           @videocoach/security-team

# Database Migrations
**/migrations/           @videocoach/backend-team @videocoach/security-team
**/alembic/             @videocoach/backend-team @videocoach/security-team

# Build and Deployment Configurations
Dockerfile              @videocoach/devops-team
docker-compose.yml      @videocoach/devops-team
**/Dockerfile          @videocoach/devops-team
**/*.dockerfile        @videocoach/devops-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/scripts/backup.sh
  infrastructure/scripts/backup.sh
Owners: @videocoach/devops-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/scripts/deploy.sh
  infrastructure/scripts/deploy.sh
Owners: @videocoach/devops-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/scripts/monitoring.sh
  infrastructure/scripts/monitoring.sh
Owners: @videocoach/devops-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/scripts/scaling.sh
  infrastructure/scripts/scaling.sh
Owners: @videocoach/devops-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/terraform/environments/dev/main.tf
  infrastructure/terraform/environments/dev/main.tf
Owners: @videocoach/devops-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/terraform/environments/prod/main.tf
  infrastructure/terraform/environments/prod/main.tf
Owners: @videocoach/devops-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/terraform/environments/staging/main.tf
  infrastructure/terraform/environments/staging/main.tf
Owners: @videocoach/devops-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/terraform/modules/api_gateway/main.tf
  infrastructure/terraform/modules/api_gateway/main.tf
Owners: @videocoach/devops-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/terraform/modules/api_gateway/outputs.tf
  infrastructure/terraform/modules/api_gateway/outputs.tf
Owners: @videocoach/devops-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/terraform/modules/api_gateway/variables.tf
  infrastructure/terraform/modules/api_gateway/variables.tf
Owners: @videocoach/devops-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/terraform/modules/cdn/main.tf
  infrastructure/terraform/modules/cdn/main.tf
Owners: @videocoach/devops-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/terraform/modules/cdn/outputs.tf
  infrastructure/terraform/modules/cdn/outputs.tf
Owners: @videocoach/devops-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/terraform/modules/cdn/variables.tf
  infrastructure/terraform/modules/cdn/variables.tf
Owners: @videocoach/devops-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/terraform/modules/database/main.tf
  infrastructure/terraform/modules/database/main.tf
Owners: @videocoach/devops-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/terraform/modules/database/outputs.tf
  infrastructure/terraform/modules/database/outputs.tf
Owners: @videocoach/devops-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/terraform/modules/database/variables.tf
  infrastructure/terraform/modules/database/variables.tf
Owners: @videocoach/devops-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/terraform/modules/eks/main.tf
  infrastructure/terraform/modules/eks/main.tf
Owners: @videocoach/devops-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/terraform/modules/eks/outputs.tf
  infrastructure/terraform/modules/eks/outputs.tf
Owners: @videocoach/devops-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/terraform/modules/eks/variables.tf
  infrastructure/terraform/modules/eks/variables.tf
Owners: @videocoach/devops-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/terraform/modules/redis/main.tf
  infrastructure/terraform/modules/redis/main.tf
Owners: @videocoach/devops-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/terraform/modules/redis/outputs.tf
  infrastructure/terraform/modules/redis/outputs.tf
Owners: @videocoach/devops-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/terraform/modules/redis/variables.tf
  infrastructure/terraform/modules/redis/variables.tf
Owners: @videocoach/devops-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/terraform/modules/s3/main.tf
  infrastructure/terraform/modules/s3/main.tf
Owners: @videocoach/devops-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/terraform/modules/s3/outputs.tf
  infrastructure/terraform/modules/s3/outputs.tf
Owners: @videocoach/devops-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/terraform/modules/s3/variables.tf
  infrastructure/terraform/modules/s3/variables.tf
Owners: @videocoach/devops-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/terraform/modules/vpc/main.tf
  infrastructure/terraform/modules/vpc/main.tf
Owners: @videocoach/devops-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/terraform/modules/vpc/outputs.tf
  infrastructure/terraform/modules/vpc/outputs.tf
Owners: @videocoach/devops-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/terraform/modules/vpc/variables.tf
  infrastructure/terraform/modules/vpc/variables.tf
Owners: @videocoach/devops-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/android/.gitignore
  src/android/.gitignore
Owners: @videocoach/android-team

Add public-samples/golf-swing-recording--n6oxdk/src/android/README.md
  src/android/README.md
Owners: @videocoach/android-team

Add public-samples/golf-swing-recording--n6oxdk/src/android/build.gradle.kts
  src/android/build.gradle.kts
Owners: @videocoach/android-team

Add public-samples/golf-swing-recording--n6oxdk/src/android/gradle.properties
  src/android/gradle.properties
Owners: @videocoach/android-team

Add public-samples/golf-swing-recording--n6oxdk/src/android/gradlew
  src/android/gradlew
Owners: @videocoach/android-team

Add public-samples/golf-swing-recording--n6oxdk/src/android/gradlew.bat
  src/android/gradlew.bat
Owners: @videocoach/android-team

Add public-samples/golf-swing-recording--n6oxdk/src/android/settings.gradle.kts
  src/android/settings.gradle.kts
Owners: @videocoach/android-team

Add public-samples/golf-swing-recording--n6oxdk/src/android/app/.gitignore
  src/android/app/.gitignore
Owners: @videocoach/android-team

Add public-samples/golf-swing-recording--n6oxdk/src/android/app/build.gradle.kts
  src/android/app/build.gradle.kts
Owners: @videocoach/android-team

Add public-samples/golf-swing-recording--n6oxdk/src/android/app/proguard-rules.pro
  src/android/app/proguard-rules.pro
Owners: @videocoach/android-team

Add public-samples/golf-swing-recording--n6oxdk/src/android/app/src/androidTest/java/com/videocoach/ExampleInstrumentedTest.kt
  src/android/app/src/androidTest/java/com/videocoach/ExampleInstrumentedTest.kt
Owners: @videocoach/android-team

Add public-samples/golf-swing-recording--n6oxdk/src/android/app/src/debug/AndroidManifest.xml
  src/android/app/src/debug/AndroidManifest.xml
Owners: @videocoach/android-team
