Repository alinkenauger/golf-swing-recording--n6oxdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @videocoach/core-team, @videocoach/android-team, @videocoach/ios-team, @videocoach/web-team, @videocoach/backend-team, @videocoach/security-team, @videocoach/video-team, @videocoach/devops-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/payment-service/src/types/index.ts
  src/backend/payment-service/src/types/index.ts
Owners: @videocoach/backend-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/payment-service/test/payment.test.ts
  src/backend/payment-service/test/payment.test.ts
Owners: @videocoach/core-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/shared/constants/index.ts
  src/backend/shared/constants/index.ts
Owners: @videocoach/backend-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/shared/errors/api.error.ts
  src/backend/shared/errors/api.error.ts
Owners: @videocoach/backend-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/shared/errors/business.error.ts
  src/backend/shared/errors/business.error.ts
Owners: @videocoach/backend-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/shared/interfaces/index.ts
  src/backend/shared/interfaces/index.ts
Owners: @videocoach/backend-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/shared/middleware/auth.middleware.ts
  src/backend/shared/middleware/auth.middleware.ts
Owners: @videocoach/backend-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/shared/middleware/error.middleware.ts
  src/backend/shared/middleware/error.middleware.ts
Owners: @videocoach/backend-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/shared/middleware/validation.middleware.ts
  src/backend/shared/middleware/validation.middleware.ts
Owners: @videocoach/backend-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/shared/types/index.ts
  src/backend/shared/types/index.ts
Owners: @videocoach/backend-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/shared/utils/logger.ts
  src/backend/shared/utils/logger.ts
Owners: @videocoach/backend-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/shared/utils/metrics.ts
  src/backend/shared/utils/metrics.ts
Owners: @videocoach/backend-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/shared/utils/validation.ts
  src/backend/shared/utils/validation.ts
Owners: @videocoach/backend-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/user-service/package.json
  src/backend/user-service/package.json
Owners: @videocoach/core-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/user-service/tsconfig.json
  src/backend/user-service/tsconfig.json
Owners: @videocoach/backend-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/user-service/src/app.ts
  src/backend/user-service/src/app.ts
Owners: @videocoach/backend-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/user-service/src/config/index.ts
  src/backend/user-service/src/config/index.ts
Owners: @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/user-service/src/controllers/auth.controller.ts
  src/backend/user-service/src/controllers/auth.controller.ts
Owners: @videocoach/backend-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/user-service/src/controllers/user.controller.ts
  src/backend/user-service/src/controllers/user.controller.ts
Owners: @videocoach/backend-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/user-service/src/models/user.model.ts
  src/backend/user-service/src/models/user.model.ts
Owners: @videocoach/backend-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/user-service/src/repositories/user.repository.ts
  src/backend/user-service/src/repositories/user.repository.ts
Owners: @videocoach/backend-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/user-service/src/services/auth.service.ts
  src/backend/user-service/src/services/auth.service.ts
Owners: @videocoach/backend-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/user-service/src/services/user.service.ts
  src/backend/user-service/src/services/user.service.ts
Owners: @videocoach/backend-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/user-service/src/types/index.ts
  src/backend/user-service/src/types/index.ts
Owners: @videocoach/backend-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/user-service/test/auth.test.ts
  src/backend/user-service/test/auth.test.ts
Owners: @videocoach/core-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/user-service/test/user.test.ts
  src/backend/user-service/test/user.test.ts
Owners: @videocoach/core-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/video-service/Dockerfile
  src/backend/video-service/Dockerfile
Owners: @videocoach/devops-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/video-service/README.md
  src/backend/video-service/README.md
Owners: @videocoach/video-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/video-service/pyproject.toml
  src/backend/video-service/pyproject.toml
Owners: @videocoach/core-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/video-service/requirements.txt
  src/backend/video-service/requirements.txt
Owners: @videocoach/core-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/video-service/setup.py
  src/backend/video-service/setup.py
Owners: @videocoach/video-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/video-service/src/__init__.py
  src/backend/video-service/src/__init__.py
Owners: @videocoach/video-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/video-service/src/app.py
  src/backend/video-service/src/app.py
Owners: @videocoach/video-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/video-service/src/config.py
  src/backend/video-service/src/config.py
Owners: @videocoach/video-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/video-service/src/controllers/__init__.py
  src/backend/video-service/src/controllers/__init__.py
Owners: @videocoach/video-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/video-service/src/controllers/annotation_controller.py
  src/backend/video-service/src/controllers/annotation_controller.py
Owners: @videocoach/video-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/video-service/src/controllers/video_controller.py
  src/backend/video-service/src/controllers/video_controller.py
Owners: @videocoach/video-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/video-service/src/models/__init__.py
  src/backend/video-service/src/models/__init__.py
Owners: @videocoach/video-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/video-service/src/models/annotation.py
  src/backend/video-service/src/models/annotation.py
Owners: @videocoach/video-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/video-service/src/models/video.py
  src/backend/video-service/src/models/video.py
Owners: @videocoach/video-team, @videocoach/security-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repository unless a later match takes precedence
* @videocoach/core-team

# Mobile Applications
src/android/       @videocoach/android-team
src/ios/          @videocoach/ios-team

# Web Application
src/web/          @videocoach/web-team

# Backend Services - Core
src/backend/api-gateway/        @videocoach/backend-team
src/backend/shared/            @videocoach/backend-team

# Backend Services - Security Critical
# These services require security team review due to sensitive data handling
src/backend/user-service/      @videocoach/backend-team @videocoach/security-team
src/backend/payment-service/   @videocoach/backend-team @videocoach/security-team
src/backend/chat-service/      @videocoach/backend-team @videocoach/security-team

# Video Processing Service
# Requires both performance optimization and security review
src/backend/video-service/     @videocoach/video-team @videocoach/security-team

# Infrastructure and DevOps
infrastructure/                @videocoach/devops-team
infrastructure/kubernetes/     @videocoach/devops-team @videocoach/security-team
infrastructure/terraform/      @videocoach/devops-team @videocoach/security-team

# CI/CD Pipeline Configurations
.github/workflows/            @videocoach/devops-team @videocoach/security-team

# Documentation
docs/                        @videocoach/core-team
docs/security/              @videocoach/security-team

# Test Configurations
tests/                      @videocoach/core-team
**/test/                   @videocoach/core-team
**/tests/                  @videocoach/core-team
**/__tests__/              @videocoach/core-team

# Package Dependencies
package.json               @videocoach/core-team @videocoach/security-team
yarn.lock                 @videocoach/core-team @videocoach/security-team
**/package.json           @videocoach/core-team @videocoach/security-team
**/requirements.txt       @videocoach/core-team @videocoach/security-team
**/pyproject.toml        @videocoach/core-team @videocoach/security-team

# Security and Configuration Files
.env*                     @videocoach/security-team
**/config/*              @videocoach/security-team
**/*.config.js           @videocoach/security-team
**/*.config.ts           @videocoach/security-team

# Database Migrations
**/migrations/           @videocoach/backend-team @videocoach/security-team
**/alembic/             @videocoach/backend-team @videocoach/security-team

# Build and Deployment Configurations
Dockerfile              @videocoach/devops-team
docker-compose.yml      @videocoach/devops-team
**/Dockerfile          @videocoach/devops-team
**/*.dockerfile        @videocoach/devops-team
