Repository alinkenauger/golf-swing-recording--n6oxdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @videocoach/core-team, @videocoach/android-team, @videocoach/ios-team, @videocoach/web-team, @videocoach/backend-team, @videocoach/security-team, @videocoach/video-team, @videocoach/devops-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repository unless a later match takes precedence
* @videocoach/core-team

# Mobile Applications
src/android/       @videocoach/android-team
src/ios/          @videocoach/ios-team

# Web Application
src/web/          @videocoach/web-team

# Backend Services - Core
src/backend/api-gateway/        @videocoach/backend-team
src/backend/shared/            @videocoach/backend-team

# Backend Services - Security Critical
# These services require security team review due to sensitive data handling
src/backend/user-service/      @videocoach/backend-team @videocoach/security-team
src/backend/payment-service/   @videocoach/backend-team @videocoach/security-team
src/backend/chat-service/      @videocoach/backend-team @videocoach/security-team

# Video Processing Service
# Requires both performance optimization and security review
src/backend/video-service/     @videocoach/video-team @videocoach/security-team

# Infrastructure and DevOps
infrastructure/                @videocoach/devops-team
infrastructure/kubernetes/     @videocoach/devops-team @videocoach/security-team
infrastructure/terraform/      @videocoach/devops-team @videocoach/security-team

# CI/CD Pipeline Configurations
.github/workflows/            @videocoach/devops-team @videocoach/security-team

# Documentation
docs/                        @videocoach/core-team
docs/security/              @videocoach/security-team

# Test Configurations
tests/                      @videocoach/core-team
**/test/                   @videocoach/core-team
**/tests/                  @videocoach/core-team
**/__tests__/              @videocoach/core-team

# Package Dependencies
package.json               @videocoach/core-team @videocoach/security-team
yarn.lock                 @videocoach/core-team @videocoach/security-team
**/package.json           @videocoach/core-team @videocoach/security-team
**/requirements.txt       @videocoach/core-team @videocoach/security-team
**/pyproject.toml        @videocoach/core-team @videocoach/security-team

# Security and Configuration Files
.env*                     @videocoach/security-team
**/config/*              @videocoach/security-team
**/*.config.js           @videocoach/security-team
**/*.config.ts           @videocoach/security-team

# Database Migrations
**/migrations/           @videocoach/backend-team @videocoach/security-team
**/alembic/             @videocoach/backend-team @videocoach/security-team

# Build and Deployment Configurations
Dockerfile              @videocoach/devops-team
docker-compose.yml      @videocoach/devops-team
**/Dockerfile          @videocoach/devops-team
**/*.dockerfile        @videocoach/devops-team

Add public-samples/golf-swing-recording--n6oxdk/src/android/app/src/main/res/layout/item_video.xml
  src/android/app/src/main/res/layout/item_video.xml
Owners: @videocoach/android-team

Add public-samples/golf-swing-recording--n6oxdk/src/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  src/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
Owners: @videocoach/android-team

Add public-samples/golf-swing-recording--n6oxdk/src/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  src/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
Owners: @videocoach/android-team

Add public-samples/golf-swing-recording--n6oxdk/src/android/app/src/main/res/navigation/nav_graph.xml
  src/android/app/src/main/res/navigation/nav_graph.xml
Owners: @videocoach/android-team

Add public-samples/golf-swing-recording--n6oxdk/src/android/app/src/main/res/values-night/themes.xml
  src/android/app/src/main/res/values-night/themes.xml
Owners: @videocoach/android-team

Add public-samples/golf-swing-recording--n6oxdk/src/android/app/src/main/res/values/colors.xml
  src/android/app/src/main/res/values/colors.xml
Owners: @videocoach/android-team

Add public-samples/golf-swing-recording--n6oxdk/src/android/app/src/main/res/values/dimens.xml
  src/android/app/src/main/res/values/dimens.xml
Owners: @videocoach/android-team

Add public-samples/golf-swing-recording--n6oxdk/src/android/app/src/main/res/values/strings.xml
  src/android/app/src/main/res/values/strings.xml
Owners: @videocoach/android-team

Add public-samples/golf-swing-recording--n6oxdk/src/android/app/src/main/res/values/styles.xml
  src/android/app/src/main/res/values/styles.xml
Owners: @videocoach/android-team

Add public-samples/golf-swing-recording--n6oxdk/src/android/app/src/main/res/values/themes.xml
  src/android/app/src/main/res/values/themes.xml
Owners: @videocoach/android-team

Add public-samples/golf-swing-recording--n6oxdk/src/android/app/src/release/AndroidManifest.xml
  src/android/app/src/release/AndroidManifest.xml
Owners: @videocoach/android-team

Add public-samples/golf-swing-recording--n6oxdk/src/android/app/src/test/java/com/videocoach/ExampleUnitTest.kt
  src/android/app/src/test/java/com/videocoach/ExampleUnitTest.kt
Owners: @videocoach/core-team

Add public-samples/golf-swing-recording--n6oxdk/src/android/gradle/wrapper/gradle-wrapper.properties
  src/android/gradle/wrapper/gradle-wrapper.properties
Owners: @videocoach/android-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @videocoach/core-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/.env.example
  src/backend/.env.example
Owners: @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/.eslintrc.json
  src/backend/.eslintrc.json
Owners: @videocoach/core-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/.gitignore
  src/backend/.gitignore
Owners: @videocoach/core-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/.prettierrc
  src/backend/.prettierrc
Owners: @videocoach/core-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/README.md
  src/backend/README.md
Owners: @videocoach/core-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/docker-compose.dev.yml
  src/backend/docker-compose.dev.yml
Owners: @videocoach/core-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @videocoach/devops-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/lerna.json
  src/backend/lerna.json
Owners: @videocoach/core-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/nodemon.json
  src/backend/nodemon.json
Owners: @videocoach/core-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/package.json
  src/backend/package.json
Owners: @videocoach/core-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @videocoach/core-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/api-gateway/package.json
  src/backend/api-gateway/package.json
Owners: @videocoach/core-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/api-gateway/tsconfig.json
  src/backend/api-gateway/tsconfig.json
Owners: @videocoach/backend-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/api-gateway/src/app.ts
  src/backend/api-gateway/src/app.ts
Owners: @videocoach/backend-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/api-gateway/src/server.ts
  src/backend/api-gateway/src/server.ts
Owners: @videocoach/backend-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/api-gateway/src/config/index.ts
  src/backend/api-gateway/src/config/index.ts
Owners: @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/api-gateway/src/middleware/auth.middleware.ts
  src/backend/api-gateway/src/middleware/auth.middleware.ts
Owners: @videocoach/backend-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/api-gateway/src/middleware/error.middleware.ts
  src/backend/api-gateway/src/middleware/error.middleware.ts
Owners: @videocoach/backend-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/api-gateway/src/middleware/logging.middleware.ts
  src/backend/api-gateway/src/middleware/logging.middleware.ts
Owners: @videocoach/backend-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/api-gateway/src/middleware/ratelimit.middleware.ts
  src/backend/api-gateway/src/middleware/ratelimit.middleware.ts
Owners: @videocoach/backend-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/api-gateway/src/routes/index.ts
  src/backend/api-gateway/src/routes/index.ts
Owners: @videocoach/backend-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/api-gateway/src/utils/logger.ts
  src/backend/api-gateway/src/utils/logger.ts
Owners: @videocoach/backend-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/api-gateway/test/app.test.ts
  src/backend/api-gateway/test/app.test.ts
Owners: @videocoach/core-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/chat-service/package.json
  src/backend/chat-service/package.json
Owners: @videocoach/core-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/chat-service/tsconfig.json
  src/backend/chat-service/tsconfig.json
Owners: @videocoach/backend-team, @videocoach/security-team
