Repository alinkenauger/golf-swing-recording--n6oxdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @videocoach/core-team, @videocoach/android-team, @videocoach/ios-team, @videocoach/web-team, @videocoach/backend-team, @videocoach/security-team, @videocoach/video-team, @videocoach/devops-team

Add public-samples/golf-swing-recording--n6oxdk/src/ios/VideoCoach/Views/Main/ProfileView.swift
  src/ios/VideoCoach/Views/Main/ProfileView.swift
Owners: @videocoach/ios-team

Add public-samples/golf-swing-recording--n6oxdk/src/ios/VideoCoach/Views/Payment/PaymentView.swift
  src/ios/VideoCoach/Views/Payment/PaymentView.swift
Owners: @videocoach/ios-team

Add public-samples/golf-swing-recording--n6oxdk/src/ios/VideoCoach/Views/Payment/SubscriptionView.swift
  src/ios/VideoCoach/Views/Payment/SubscriptionView.swift
Owners: @videocoach/ios-team

Add public-samples/golf-swing-recording--n6oxdk/src/ios/VideoCoach/Views/Payment/Components/PaymentMethodCard.swift
  src/ios/VideoCoach/Views/Payment/Components/PaymentMethodCard.swift
Owners: @videocoach/ios-team

Add public-samples/golf-swing-recording--n6oxdk/src/ios/VideoCoach/Views/Video/VideoAnnotationView.swift
  src/ios/VideoCoach/Views/Video/VideoAnnotationView.swift
Owners: @videocoach/ios-team

Add public-samples/golf-swing-recording--n6oxdk/src/ios/VideoCoach/Views/Video/VideoListView.swift
  src/ios/VideoCoach/Views/Video/VideoListView.swift
Owners: @videocoach/ios-team

Add public-samples/golf-swing-recording--n6oxdk/src/ios/VideoCoach/Views/Video/VideoPlayerView.swift
  src/ios/VideoCoach/Views/Video/VideoPlayerView.swift
Owners: @videocoach/ios-team

Add public-samples/golf-swing-recording--n6oxdk/src/ios/VideoCoach/Views/Video/VideoRecordingView.swift
  src/ios/VideoCoach/Views/Video/VideoRecordingView.swift
Owners: @videocoach/ios-team

Add public-samples/golf-swing-recording--n6oxdk/src/ios/VideoCoach/Views/Video/Components/AnnotationToolbar.swift
  src/ios/VideoCoach/Views/Video/Components/AnnotationToolbar.swift
Owners: @videocoach/ios-team

Add public-samples/golf-swing-recording--n6oxdk/src/ios/VideoCoach/Views/Video/Components/VideoControls.swift
  src/ios/VideoCoach/Views/Video/Components/VideoControls.swift
Owners: @videocoach/ios-team

Add public-samples/golf-swing-recording--n6oxdk/src/ios/VideoCoach/Views/Video/Components/VoiceOverRecorder.swift
  src/ios/VideoCoach/Views/Video/Components/VoiceOverRecorder.swift
Owners: @videocoach/ios-team

Add public-samples/golf-swing-recording--n6oxdk/src/ios/VideoCoachTests/AuthTests.swift
  src/ios/VideoCoachTests/AuthTests.swift
Owners: @videocoach/ios-team

Add public-samples/golf-swing-recording--n6oxdk/src/ios/VideoCoachTests/ChatTests.swift
  src/ios/VideoCoachTests/ChatTests.swift
Owners: @videocoach/ios-team

Add public-samples/golf-swing-recording--n6oxdk/src/ios/VideoCoachTests/PaymentTests.swift
  src/ios/VideoCoachTests/PaymentTests.swift
Owners: @videocoach/ios-team

Add public-samples/golf-swing-recording--n6oxdk/src/ios/VideoCoachTests/VideoProcessingTests.swift
  src/ios/VideoCoachTests/VideoProcessingTests.swift
Owners: @videocoach/ios-team

Add public-samples/golf-swing-recording--n6oxdk/src/ios/VideoCoachTests/MockServices/MockAuthService.swift
  src/ios/VideoCoachTests/MockServices/MockAuthService.swift
Owners: @videocoach/ios-team

Add public-samples/golf-swing-recording--n6oxdk/src/ios/VideoCoachTests/MockServices/MockChatService.swift
  src/ios/VideoCoachTests/MockServices/MockChatService.swift
Owners: @videocoach/ios-team

Add public-samples/golf-swing-recording--n6oxdk/src/ios/VideoCoachTests/MockServices/MockPaymentService.swift
  src/ios/VideoCoachTests/MockServices/MockPaymentService.swift
Owners: @videocoach/ios-team

Add public-samples/golf-swing-recording--n6oxdk/src/ios/VideoCoachTests/MockServices/MockVideoService.swift
  src/ios/VideoCoachTests/MockServices/MockVideoService.swift
Owners: @videocoach/ios-team

Add public-samples/golf-swing-recording--n6oxdk/src/ios/VideoCoachUITests/AuthUITests.swift
  src/ios/VideoCoachUITests/AuthUITests.swift
Owners: @videocoach/ios-team

Add public-samples/golf-swing-recording--n6oxdk/src/ios/VideoCoachUITests/ChatUITests.swift
  src/ios/VideoCoachUITests/ChatUITests.swift
Owners: @videocoach/ios-team

Add public-samples/golf-swing-recording--n6oxdk/src/ios/VideoCoachUITests/PaymentUITests.swift
  src/ios/VideoCoachUITests/PaymentUITests.swift
Owners: @videocoach/ios-team

Add public-samples/golf-swing-recording--n6oxdk/src/ios/VideoCoachUITests/VideoUITests.swift
  src/ios/VideoCoachUITests/VideoUITests.swift
Owners: @videocoach/ios-team

Add public-samples/golf-swing-recording--n6oxdk/src/web/.env.example
  src/web/.env.example
Owners: @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @videocoach/web-team

Add public-samples/golf-swing-recording--n6oxdk/src/web/.gitignore
  src/web/.gitignore
Owners: @videocoach/web-team

Add public-samples/golf-swing-recording--n6oxdk/src/web/.prettierrc
  src/web/.prettierrc
Owners: @videocoach/web-team

Add public-samples/golf-swing-recording--n6oxdk/src/web/README.md
  src/web/README.md
Owners: @videocoach/web-team

Add public-samples/golf-swing-recording--n6oxdk/src/web/cypress.config.ts
  src/web/cypress.config.ts
Owners: @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/web/next-env.d.ts
  src/web/next-env.d.ts
Owners: @videocoach/web-team

Add public-samples/golf-swing-recording--n6oxdk/src/web/next.config.ts
  src/web/next.config.ts
Owners: @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/web/package.json
  src/web/package.json
Owners: @videocoach/core-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/web/postcss.config.js
  src/web/postcss.config.js
Owners: @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/web/tailwind.config.ts
  src/web/tailwind.config.ts
Owners: @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @videocoach/web-team

Add public-samples/golf-swing-recording--n6oxdk/src/web/__tests__/components/auth/LoginForm.test.tsx
  src/web/__tests__/components/auth/LoginForm.test.tsx
Owners: @videocoach/core-team

Add public-samples/golf-swing-recording--n6oxdk/src/web/__tests__/components/video/VideoPlayer.test.tsx
  src/web/__tests__/components/video/VideoPlayer.test.tsx
Owners: @videocoach/core-team

Add public-samples/golf-swing-recording--n6oxdk/src/web/__tests__/hooks/useAuth.test.ts
  src/web/__tests__/hooks/useAuth.test.ts
Owners: @videocoach/core-team

Add public-samples/golf-swing-recording--n6oxdk/src/web/__tests__/services/auth.service.test.ts
  src/web/__tests__/services/auth.service.test.ts
Owners: @videocoach/core-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repository unless a later match takes precedence
* @videocoach/core-team

# Mobile Applications
src/android/       @videocoach/android-team
src/ios/          @videocoach/ios-team

# Web Application
src/web/          @videocoach/web-team

# Backend Services - Core
src/backend/api-gateway/        @videocoach/backend-team
src/backend/shared/            @videocoach/backend-team

# Backend Services - Security Critical
# These services require security team review due to sensitive data handling
src/backend/user-service/      @videocoach/backend-team @videocoach/security-team
src/backend/payment-service/   @videocoach/backend-team @videocoach/security-team
src/backend/chat-service/      @videocoach/backend-team @videocoach/security-team

# Video Processing Service
# Requires both performance optimization and security review
src/backend/video-service/     @videocoach/video-team @videocoach/security-team

# Infrastructure and DevOps
infrastructure/                @videocoach/devops-team
infrastructure/kubernetes/     @videocoach/devops-team @videocoach/security-team
infrastructure/terraform/      @videocoach/devops-team @videocoach/security-team

# CI/CD Pipeline Configurations
.github/workflows/            @videocoach/devops-team @videocoach/security-team

# Documentation
docs/                        @videocoach/core-team
docs/security/              @videocoach/security-team

# Test Configurations
tests/                      @videocoach/core-team
**/test/                   @videocoach/core-team
**/tests/                  @videocoach/core-team
**/__tests__/              @videocoach/core-team

# Package Dependencies
package.json               @videocoach/core-team @videocoach/security-team
yarn.lock                 @videocoach/core-team @videocoach/security-team
**/package.json           @videocoach/core-team @videocoach/security-team
**/requirements.txt       @videocoach/core-team @videocoach/security-team
**/pyproject.toml        @videocoach/core-team @videocoach/security-team

# Security and Configuration Files
.env*                     @videocoach/security-team
**/config/*              @videocoach/security-team
**/*.config.js           @videocoach/security-team
**/*.config.ts           @videocoach/security-team

# Database Migrations
**/migrations/           @videocoach/backend-team @videocoach/security-team
**/alembic/             @videocoach/backend-team @videocoach/security-team

# Build and Deployment Configurations
Dockerfile              @videocoach/devops-team
docker-compose.yml      @videocoach/devops-team
**/Dockerfile          @videocoach/devops-team
**/*.dockerfile        @videocoach/devops-team
