Repository alinkenauger/golf-swing-recording--n6oxdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @videocoach/core-team, @videocoach/android-team, @videocoach/ios-team, @videocoach/web-team, @videocoach/backend-team, @videocoach/security-team, @videocoach/video-team, @videocoach/devops-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repository unless a later match takes precedence
* @videocoach/core-team

# Mobile Applications
src/android/       @videocoach/android-team
src/ios/          @videocoach/ios-team

# Web Application
src/web/          @videocoach/web-team

# Backend Services - Core
src/backend/api-gateway/        @videocoach/backend-team
src/backend/shared/            @videocoach/backend-team

# Backend Services - Security Critical
# These services require security team review due to sensitive data handling
src/backend/user-service/      @videocoach/backend-team @videocoach/security-team
src/backend/payment-service/   @videocoach/backend-team @videocoach/security-team
src/backend/chat-service/      @videocoach/backend-team @videocoach/security-team

# Video Processing Service
# Requires both performance optimization and security review
src/backend/video-service/     @videocoach/video-team @videocoach/security-team

# Infrastructure and DevOps
infrastructure/                @videocoach/devops-team
infrastructure/kubernetes/     @videocoach/devops-team @videocoach/security-team
infrastructure/terraform/      @videocoach/devops-team @videocoach/security-team

# CI/CD Pipeline Configurations
.github/workflows/            @videocoach/devops-team @videocoach/security-team

# Documentation
docs/                        @videocoach/core-team
docs/security/              @videocoach/security-team

# Test Configurations
tests/                      @videocoach/core-team
**/test/                   @videocoach/core-team
**/tests/                  @videocoach/core-team
**/__tests__/              @videocoach/core-team

# Package Dependencies
package.json               @videocoach/core-team @videocoach/security-team
yarn.lock                 @videocoach/core-team @videocoach/security-team
**/package.json           @videocoach/core-team @videocoach/security-team
**/requirements.txt       @videocoach/core-team @videocoach/security-team
**/pyproject.toml        @videocoach/core-team @videocoach/security-team

# Security and Configuration Files
.env*                     @videocoach/security-team
**/config/*              @videocoach/security-team
**/*.config.js           @videocoach/security-team
**/*.config.ts           @videocoach/security-team

# Database Migrations
**/migrations/           @videocoach/backend-team @videocoach/security-team
**/alembic/             @videocoach/backend-team @videocoach/security-team

# Build and Deployment Configurations
Dockerfile              @videocoach/devops-team
docker-compose.yml      @videocoach/devops-team
**/Dockerfile          @videocoach/devops-team
**/*.dockerfile        @videocoach/devops-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/chat-service/src/app.ts
  src/backend/chat-service/src/app.ts
Owners: @videocoach/backend-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/chat-service/src/config/index.ts
  src/backend/chat-service/src/config/index.ts
Owners: @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/chat-service/src/controllers/chat.controller.ts
  src/backend/chat-service/src/controllers/chat.controller.ts
Owners: @videocoach/backend-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/chat-service/src/controllers/thread.controller.ts
  src/backend/chat-service/src/controllers/thread.controller.ts
Owners: @videocoach/backend-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/chat-service/src/models/chat.model.ts
  src/backend/chat-service/src/models/chat.model.ts
Owners: @videocoach/backend-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/chat-service/src/models/thread.model.ts
  src/backend/chat-service/src/models/thread.model.ts
Owners: @videocoach/backend-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/chat-service/src/repositories/chat.repository.ts
  src/backend/chat-service/src/repositories/chat.repository.ts
Owners: @videocoach/backend-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/chat-service/src/repositories/thread.repository.ts
  src/backend/chat-service/src/repositories/thread.repository.ts
Owners: @videocoach/backend-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/chat-service/src/services/chat.service.ts
  src/backend/chat-service/src/services/chat.service.ts
Owners: @videocoach/backend-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/chat-service/src/services/notification.service.ts
  src/backend/chat-service/src/services/notification.service.ts
Owners: @videocoach/backend-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/chat-service/src/socket/handlers.ts
  src/backend/chat-service/src/socket/handlers.ts
Owners: @videocoach/backend-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/chat-service/src/socket/middleware.ts
  src/backend/chat-service/src/socket/middleware.ts
Owners: @videocoach/backend-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/chat-service/src/types/index.ts
  src/backend/chat-service/src/types/index.ts
Owners: @videocoach/backend-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/chat-service/test/chat.test.ts
  src/backend/chat-service/test/chat.test.ts
Owners: @videocoach/core-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/coach-service/package.json
  src/backend/coach-service/package.json
Owners: @videocoach/core-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/coach-service/tsconfig.json
  src/backend/coach-service/tsconfig.json
Owners: @videocoach/core-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/coach-service/src/app.ts
  src/backend/coach-service/src/app.ts
Owners: @videocoach/core-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/coach-service/src/config/index.ts
  src/backend/coach-service/src/config/index.ts
Owners: @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/coach-service/src/controllers/coach.controller.ts
  src/backend/coach-service/src/controllers/coach.controller.ts
Owners: @videocoach/core-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/coach-service/src/controllers/program.controller.ts
  src/backend/coach-service/src/controllers/program.controller.ts
Owners: @videocoach/core-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/coach-service/src/models/coach.model.ts
  src/backend/coach-service/src/models/coach.model.ts
Owners: @videocoach/core-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/coach-service/src/models/program.model.ts
  src/backend/coach-service/src/models/program.model.ts
Owners: @videocoach/core-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/coach-service/src/repositories/coach.repository.ts
  src/backend/coach-service/src/repositories/coach.repository.ts
Owners: @videocoach/core-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/coach-service/src/repositories/program.repository.ts
  src/backend/coach-service/src/repositories/program.repository.ts
Owners: @videocoach/core-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/coach-service/src/services/coach.service.ts
  src/backend/coach-service/src/services/coach.service.ts
Owners: @videocoach/core-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/coach-service/src/services/program.service.ts
  src/backend/coach-service/src/services/program.service.ts
Owners: @videocoach/core-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/coach-service/src/types/index.ts
  src/backend/coach-service/src/types/index.ts
Owners: @videocoach/core-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/coach-service/test/coach.test.ts
  src/backend/coach-service/test/coach.test.ts
Owners: @videocoach/core-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/payment-service/package.json
  src/backend/payment-service/package.json
Owners: @videocoach/core-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/payment-service/tsconfig.json
  src/backend/payment-service/tsconfig.json
Owners: @videocoach/backend-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/payment-service/src/app.ts
  src/backend/payment-service/src/app.ts
Owners: @videocoach/backend-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/payment-service/src/config/index.ts
  src/backend/payment-service/src/config/index.ts
Owners: @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/payment-service/src/controllers/payment.controller.ts
  src/backend/payment-service/src/controllers/payment.controller.ts
Owners: @videocoach/backend-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/payment-service/src/controllers/subscription.controller.ts
  src/backend/payment-service/src/controllers/subscription.controller.ts
Owners: @videocoach/backend-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/payment-service/src/models/payment.model.ts
  src/backend/payment-service/src/models/payment.model.ts
Owners: @videocoach/backend-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/payment-service/src/models/subscription.model.ts
  src/backend/payment-service/src/models/subscription.model.ts
Owners: @videocoach/backend-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/payment-service/src/repositories/payment.repository.ts
  src/backend/payment-service/src/repositories/payment.repository.ts
Owners: @videocoach/backend-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/payment-service/src/repositories/subscription.repository.ts
  src/backend/payment-service/src/repositories/subscription.repository.ts
Owners: @videocoach/backend-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/payment-service/src/services/payment.service.ts
  src/backend/payment-service/src/services/payment.service.ts
Owners: @videocoach/backend-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/payment-service/src/services/stripe.service.ts
  src/backend/payment-service/src/services/stripe.service.ts
Owners: @videocoach/backend-team, @videocoach/security-team
