Repository alinkenauger/golf-swing-recording--n6oxdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @videocoach/core-team, @videocoach/android-team, @videocoach/ios-team, @videocoach/web-team, @videocoach/backend-team, @videocoach/security-team, @videocoach/video-team, @videocoach/devops-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repository unless a later match takes precedence
* @videocoach/core-team

# Mobile Applications
src/android/       @videocoach/android-team
src/ios/          @videocoach/ios-team

# Web Application
src/web/          @videocoach/web-team

# Backend Services - Core
src/backend/api-gateway/        @videocoach/backend-team
src/backend/shared/            @videocoach/backend-team

# Backend Services - Security Critical
# These services require security team review due to sensitive data handling
src/backend/user-service/      @videocoach/backend-team @videocoach/security-team
src/backend/payment-service/   @videocoach/backend-team @videocoach/security-team
src/backend/chat-service/      @videocoach/backend-team @videocoach/security-team

# Video Processing Service
# Requires both performance optimization and security review
src/backend/video-service/     @videocoach/video-team @videocoach/security-team

# Infrastructure and DevOps
infrastructure/                @videocoach/devops-team
infrastructure/kubernetes/     @videocoach/devops-team @videocoach/security-team
infrastructure/terraform/      @videocoach/devops-team @videocoach/security-team

# CI/CD Pipeline Configurations
.github/workflows/            @videocoach/devops-team @videocoach/security-team

# Documentation
docs/                        @videocoach/core-team
docs/security/              @videocoach/security-team

# Test Configurations
tests/                      @videocoach/core-team
**/test/                   @videocoach/core-team
**/tests/                  @videocoach/core-team
**/__tests__/              @videocoach/core-team

# Package Dependencies
package.json               @videocoach/core-team @videocoach/security-team
yarn.lock                 @videocoach/core-team @videocoach/security-team
**/package.json           @videocoach/core-team @videocoach/security-team
**/requirements.txt       @videocoach/core-team @videocoach/security-team
**/pyproject.toml        @videocoach/core-team @videocoach/security-team

# Security and Configuration Files
.env*                     @videocoach/security-team
**/config/*              @videocoach/security-team
**/*.config.js           @videocoach/security-team
**/*.config.ts           @videocoach/security-team

# Database Migrations
**/migrations/           @videocoach/backend-team @videocoach/security-team
**/alembic/             @videocoach/backend-team @videocoach/security-team

# Build and Deployment Configurations
Dockerfile              @videocoach/devops-team
docker-compose.yml      @videocoach/devops-team
**/Dockerfile          @videocoach/devops-team
**/*.dockerfile        @videocoach/devops-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/video-service/src/repositories/__init__.py
  src/backend/video-service/src/repositories/__init__.py
Owners: @videocoach/video-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/video-service/src/repositories/annotation_repository.py
  src/backend/video-service/src/repositories/annotation_repository.py
Owners: @videocoach/video-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/video-service/src/repositories/video_repository.py
  src/backend/video-service/src/repositories/video_repository.py
Owners: @videocoach/video-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/video-service/src/services/__init__.py
  src/backend/video-service/src/services/__init__.py
Owners: @videocoach/video-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/video-service/src/services/annotation_service.py
  src/backend/video-service/src/services/annotation_service.py
Owners: @videocoach/video-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/video-service/src/services/storage_service.py
  src/backend/video-service/src/services/storage_service.py
Owners: @videocoach/video-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/video-service/src/services/video_processing_service.py
  src/backend/video-service/src/services/video_processing_service.py
Owners: @videocoach/video-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/video-service/src/utils/__init__.py
  src/backend/video-service/src/utils/__init__.py
Owners: @videocoach/video-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/video-service/src/utils/logger.py
  src/backend/video-service/src/utils/logger.py
Owners: @videocoach/video-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/video-service/src/utils/metrics.py
  src/backend/video-service/src/utils/metrics.py
Owners: @videocoach/video-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/video-service/src/utils/validators.py
  src/backend/video-service/src/utils/validators.py
Owners: @videocoach/video-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/video-service/tests/__init__.py
  src/backend/video-service/tests/__init__.py
Owners: @videocoach/core-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/video-service/tests/conftest.py
  src/backend/video-service/tests/conftest.py
Owners: @videocoach/core-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/video-service/tests/test_annotation_service.py
  src/backend/video-service/tests/test_annotation_service.py
Owners: @videocoach/core-team

Add public-samples/golf-swing-recording--n6oxdk/src/backend/video-service/tests/test_video_processing.py
  src/backend/video-service/tests/test_video_processing.py
Owners: @videocoach/core-team

Add public-samples/golf-swing-recording--n6oxdk/src/ios/.gitignore
  src/ios/.gitignore
Owners: @videocoach/ios-team

Add public-samples/golf-swing-recording--n6oxdk/src/ios/README.md
  src/ios/README.md
Owners: @videocoach/ios-team

Add public-samples/golf-swing-recording--n6oxdk/src/ios/swiftgen.yml
  src/ios/swiftgen.yml
Owners: @videocoach/ios-team

Add public-samples/golf-swing-recording--n6oxdk/src/ios/swiftlint.yml
  src/ios/swiftlint.yml
Owners: @videocoach/ios-team

Add public-samples/golf-swing-recording--n6oxdk/src/ios/VideoCoach/Info.plist
  src/ios/VideoCoach/Info.plist
Owners: @videocoach/ios-team

Add public-samples/golf-swing-recording--n6oxdk/src/ios/VideoCoach/VideoCoachApp.swift
  src/ios/VideoCoach/VideoCoachApp.swift
Owners: @videocoach/ios-team

Add public-samples/golf-swing-recording--n6oxdk/src/ios/VideoCoach/Models/Annotation.swift
  src/ios/VideoCoach/Models/Annotation.swift
Owners: @videocoach/ios-team

Add public-samples/golf-swing-recording--n6oxdk/src/ios/VideoCoach/Models/Coach.swift
  src/ios/VideoCoach/Models/Coach.swift
Owners: @videocoach/ios-team

Add public-samples/golf-swing-recording--n6oxdk/src/ios/VideoCoach/Models/Message.swift
  src/ios/VideoCoach/Models/Message.swift
Owners: @videocoach/ios-team

Add public-samples/golf-swing-recording--n6oxdk/src/ios/VideoCoach/Models/Payment.swift
  src/ios/VideoCoach/Models/Payment.swift
Owners: @videocoach/ios-team

Add public-samples/golf-swing-recording--n6oxdk/src/ios/VideoCoach/Models/Subscription.swift
  src/ios/VideoCoach/Models/Subscription.swift
Owners: @videocoach/ios-team

Add public-samples/golf-swing-recording--n6oxdk/src/ios/VideoCoach/Models/User.swift
  src/ios/VideoCoach/Models/User.swift
Owners: @videocoach/ios-team

Add public-samples/golf-swing-recording--n6oxdk/src/ios/VideoCoach/Models/Video.swift
  src/ios/VideoCoach/Models/Video.swift
Owners: @videocoach/ios-team

Add public-samples/golf-swing-recording--n6oxdk/src/ios/VideoCoach/Resources/Assets.xcassets/Contents.json
  src/ios/VideoCoach/Resources/Assets.xcassets/Contents.json
Owners: @videocoach/ios-team

Add public-samples/golf-swing-recording--n6oxdk/src/ios/VideoCoach/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  src/ios/VideoCoach/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
Owners: @videocoach/ios-team

Add public-samples/golf-swing-recording--n6oxdk/src/ios/VideoCoach/Resources/Colors.xcassets/Contents.json
  src/ios/VideoCoach/Resources/Colors.xcassets/Contents.json
Owners: @videocoach/ios-team

Add public-samples/golf-swing-recording--n6oxdk/src/ios/VideoCoach/Services/AnalyticsService.swift
  src/ios/VideoCoach/Services/AnalyticsService.swift
Owners: @videocoach/ios-team

Add public-samples/golf-swing-recording--n6oxdk/src/ios/VideoCoach/Services/AuthService.swift
  src/ios/VideoCoach/Services/AuthService.swift
Owners: @videocoach/ios-team

Add public-samples/golf-swing-recording--n6oxdk/src/ios/VideoCoach/Services/ChatService.swift
  src/ios/VideoCoach/Services/ChatService.swift
Owners: @videocoach/ios-team

Add public-samples/golf-swing-recording--n6oxdk/src/ios/VideoCoach/Services/NetworkService.swift
  src/ios/VideoCoach/Services/NetworkService.swift
Owners: @videocoach/ios-team

Add public-samples/golf-swing-recording--n6oxdk/src/ios/VideoCoach/Services/PaymentService.swift
  src/ios/VideoCoach/Services/PaymentService.swift
Owners: @videocoach/ios-team

Add public-samples/golf-swing-recording--n6oxdk/src/ios/VideoCoach/Services/StorageService.swift
  src/ios/VideoCoach/Services/StorageService.swift
Owners: @videocoach/ios-team

Add public-samples/golf-swing-recording--n6oxdk/src/ios/VideoCoach/Services/VideoService.swift
  src/ios/VideoCoach/Services/VideoService.swift
Owners: @videocoach/ios-team

Add public-samples/golf-swing-recording--n6oxdk/src/ios/VideoCoach/Stores/AppStore.swift
  src/ios/VideoCoach/Stores/AppStore.swift
Owners: @videocoach/ios-team

Add public-samples/golf-swing-recording--n6oxdk/src/ios/VideoCoach/Stores/ChatStore.swift
  src/ios/VideoCoach/Stores/ChatStore.swift
Owners: @videocoach/ios-team
