Repository alinkenauger/golf-swing-recording--n6oxdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @videocoach/core-team, @videocoach/android-team, @videocoach/ios-team, @videocoach/web-team, @videocoach/backend-team, @videocoach/security-team, @videocoach/video-team, @videocoach/devops-team

Add public-samples/golf-swing-recording--n6oxdk/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @videocoach/core-team

Add public-samples/golf-swing-recording--n6oxdk/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @videocoach/core-team

Add public-samples/golf-swing-recording--n6oxdk/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @videocoach/core-team

Add public-samples/golf-swing-recording--n6oxdk/.github/workflows/android.yml
  .github/workflows/android.yml
Owners: @videocoach/devops-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/.github/workflows/backend.yml
  .github/workflows/backend.yml
Owners: @videocoach/devops-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/.github/workflows/ios.yml
  .github/workflows/ios.yml
Owners: @videocoach/devops-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/.github/workflows/web.yml
  .github/workflows/web.yml
Owners: @videocoach/devops-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/blitzy/documentation/Input Prompt.md
  blitzy/documentation/Input Prompt.md
Owners: @videocoach/core-team

Add public-samples/golf-swing-recording--n6oxdk/blitzy/documentation/Product Requirements Document (PRD).md
  blitzy/documentation/Product Requirements Document (PRD).md
Owners: @videocoach/core-team

Add public-samples/golf-swing-recording--n6oxdk/blitzy/documentation/Project Guide.md
  blitzy/documentation/Project Guide.md
Owners: @videocoach/core-team

Add public-samples/golf-swing-recording--n6oxdk/blitzy/documentation/Technical Specifications.md
  blitzy/documentation/Technical Specifications.md
Owners: @videocoach/core-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/docker/api.Dockerfile
  infrastructure/docker/api.Dockerfile
Owners: @videocoach/devops-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/docker/chat.Dockerfile
  infrastructure/docker/chat.Dockerfile
Owners: @videocoach/devops-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/docker/coach.Dockerfile
  infrastructure/docker/coach.Dockerfile
Owners: @videocoach/devops-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/docker/payment.Dockerfile
  infrastructure/docker/payment.Dockerfile
Owners: @videocoach/devops-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/docker/user.Dockerfile
  infrastructure/docker/user.Dockerfile
Owners: @videocoach/devops-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/docker/video.Dockerfile
  infrastructure/docker/video.Dockerfile
Owners: @videocoach/devops-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/kubernetes/base/cert-manager.yaml
  infrastructure/kubernetes/base/cert-manager.yaml
Owners: @videocoach/devops-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/kubernetes/base/ingress-controller.yaml
  infrastructure/kubernetes/base/ingress-controller.yaml
Owners: @videocoach/devops-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/kubernetes/base/namespace.yaml
  infrastructure/kubernetes/base/namespace.yaml
Owners: @videocoach/devops-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/kubernetes/base/storage-class.yaml
  infrastructure/kubernetes/base/storage-class.yaml
Owners: @videocoach/devops-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/kubernetes/config/dev/configmap.yaml
  infrastructure/kubernetes/config/dev/configmap.yaml
Owners: @videocoach/devops-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/kubernetes/config/dev/secrets.yaml
  infrastructure/kubernetes/config/dev/secrets.yaml
Owners: @videocoach/devops-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/kubernetes/config/prod/configmap.yaml
  infrastructure/kubernetes/config/prod/configmap.yaml
Owners: @videocoach/devops-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/kubernetes/config/prod/secrets.yaml
  infrastructure/kubernetes/config/prod/secrets.yaml
Owners: @videocoach/devops-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/kubernetes/config/staging/configmap.yaml
  infrastructure/kubernetes/config/staging/configmap.yaml
Owners: @videocoach/devops-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/kubernetes/config/staging/secrets.yaml
  infrastructure/kubernetes/config/staging/secrets.yaml
Owners: @videocoach/devops-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/kubernetes/logging/elasticsearch.yaml
  infrastructure/kubernetes/logging/elasticsearch.yaml
Owners: @videocoach/devops-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/kubernetes/logging/fluentd.yaml
  infrastructure/kubernetes/logging/fluentd.yaml
Owners: @videocoach/devops-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/kubernetes/logging/kibana.yaml
  infrastructure/kubernetes/logging/kibana.yaml
Owners: @videocoach/devops-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/kubernetes/monitoring/alertmanager.yaml
  infrastructure/kubernetes/monitoring/alertmanager.yaml
Owners: @videocoach/devops-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/kubernetes/monitoring/grafana.yaml
  infrastructure/kubernetes/monitoring/grafana.yaml
Owners: @videocoach/devops-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/kubernetes/monitoring/prometheus.yaml
  infrastructure/kubernetes/monitoring/prometheus.yaml
Owners: @videocoach/devops-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/kubernetes/monitoring/service-monitors.yaml
  infrastructure/kubernetes/monitoring/service-monitors.yaml
Owners: @videocoach/devops-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/kubernetes/services/api-gateway.yaml
  infrastructure/kubernetes/services/api-gateway.yaml
Owners: @videocoach/devops-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/kubernetes/services/chat-service.yaml
  infrastructure/kubernetes/services/chat-service.yaml
Owners: @videocoach/devops-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/kubernetes/services/coach-service.yaml
  infrastructure/kubernetes/services/coach-service.yaml
Owners: @videocoach/devops-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/kubernetes/services/payment-service.yaml
  infrastructure/kubernetes/services/payment-service.yaml
Owners: @videocoach/devops-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/kubernetes/services/user-service.yaml
  infrastructure/kubernetes/services/user-service.yaml
Owners: @videocoach/devops-team, @videocoach/security-team

Add public-samples/golf-swing-recording--n6oxdk/infrastructure/kubernetes/services/video-service.yaml
  infrastructure/kubernetes/services/video-service.yaml
Owners: @videocoach/devops-team, @videocoach/security-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repository unless a later match takes precedence
* @videocoach/core-team

# Mobile Applications
src/android/       @videocoach/android-team
src/ios/          @videocoach/ios-team

# Web Application
src/web/          @videocoach/web-team

# Backend Services - Core
src/backend/api-gateway/        @videocoach/backend-team
src/backend/shared/            @videocoach/backend-team

# Backend Services - Security Critical
# These services require security team review due to sensitive data handling
src/backend/user-service/      @videocoach/backend-team @videocoach/security-team
src/backend/payment-service/   @videocoach/backend-team @videocoach/security-team
src/backend/chat-service/      @videocoach/backend-team @videocoach/security-team

# Video Processing Service
# Requires both performance optimization and security review
src/backend/video-service/     @videocoach/video-team @videocoach/security-team

# Infrastructure and DevOps
infrastructure/                @videocoach/devops-team
infrastructure/kubernetes/     @videocoach/devops-team @videocoach/security-team
infrastructure/terraform/      @videocoach/devops-team @videocoach/security-team

# CI/CD Pipeline Configurations
.github/workflows/            @videocoach/devops-team @videocoach/security-team

# Documentation
docs/                        @videocoach/core-team
docs/security/              @videocoach/security-team

# Test Configurations
tests/                      @videocoach/core-team
**/test/                   @videocoach/core-team
**/tests/                  @videocoach/core-team
**/__tests__/              @videocoach/core-team

# Package Dependencies
package.json               @videocoach/core-team @videocoach/security-team
yarn.lock                 @videocoach/core-team @videocoach/security-team
**/package.json           @videocoach/core-team @videocoach/security-team
**/requirements.txt       @videocoach/core-team @videocoach/security-team
**/pyproject.toml        @videocoach/core-team @videocoach/security-team

# Security and Configuration Files
.env*                     @videocoach/security-team
**/config/*              @videocoach/security-team
**/*.config.js           @videocoach/security-team
**/*.config.ts           @videocoach/security-team

# Database Migrations
**/migrations/           @videocoach/backend-team @videocoach/security-team
**/alembic/             @videocoach/backend-team @videocoach/security-team

# Build and Deployment Configurations
Dockerfile              @videocoach/devops-team
docker-compose.yml      @videocoach/devops-team
**/Dockerfile          @videocoach/devops-team
**/*.dockerfile        @videocoach/devops-team
